@import "../core/mixins.scss";
@import "../core/variables.scss";

.not-found-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

  &__text {
    margin-bottom: 15px;
    font-size: 20px;
    color: $color-light;
  }

  &__gif {
    width: 300px;
    border: 8px solid $color-dark;

    @include tablet {
      width: 600px;
    }
  }
}