@import "../core/variables.scss";

// Character detail card styles

.detail-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 10px 10px 10px;
  background-color: $color-dark;
  text-align: center;
  border-radius: 15px;
  color: $color-font-main;
  width: 250px;
  box-shadow: 3px 3px 3px 0px $color-dark;
  @media all and (min-width: 768px) {
    width: 300px;
  }

  &__image-container {
    width: 100%;
    margin: 0 auto;
  }

  &__image {
    width: 180px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
    @media all and (min-width: 768px) {
      width: 250px;
    }
  }

  &__button {
    width: 120px;
    font-size: 0.9rem;
    font-family: $font-main;
    background-color: $color-light;
    color: $color-font-secondary;
    padding: 8px;
    cursor: pointer;
    border: 0;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    transition: all 0.3s ease-out;
    font-weight: bold;
    margin: 8px 0;

    &:hover {
      background-color: lighten($color-secondary, 8%);
      color: $color-font-main;
    }
  }

  &__name {
    margin-bottom: 15px;
    max-width: 270px;
  }

  &__text {
    margin-bottom: 8px;
    max-width: 270px;
  }
}
