@import "../core/mixins.scss";
@import "../core/variables.scss";

.cards-section {
  height: calc(100vh - 450px);  
  overflow-y: scroll;
  scroll-behavior: smooth;

  @include tablet {
    height: calc(100vh - 510px);  
  }

  @include desktop {
    height: calc(100vh - 350px);  
  }

  // Scrollbar styles:
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: $color-dark;
  }
  //handle and hover styles 
  &::-webkit-scrollbar-thumb {
    background:  $color-main;
  }
  &::-webkit-scrollbar-thumb:hover {
    background:  $color-terciary;
  }
}

.cards-container{
  display: grid;
  grid-template-columns: 1fr;

  @media all and (min-width: 500px) {
    max-width: 500px;
    grid-template-columns: repeat(auto-fill, 250px);
  }

  @media all and (min-width: 900px) {
    max-width: 800px;
  }

  @include desktop {
    max-width: 1200px;
  }

  &__item {
    align-self: center;
    justify-self: center;

    @include tablet {
      justify-self: normal;
    }
  }
}