@import "../core/variables.scss";

// Cards container styles

.cards-section {
  overflow-y: scroll;
  height: calc(100vh - 330px);  
  scroll-behavior: smooth;
  // Scrollbar styles:
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    background: black;
  }
  //handle and hover styles 
  &::-webkit-scrollbar-thumb {
    background:  rgb(238, 81, 171);
  }
  &::-webkit-scrollbar-thumb:hover {
    background:  rgb(249, 3, 95);
  }
}

.cards-container{
  display: grid;
  grid-template-columns: 1fr;

  @media all and (min-width: 500px) {
    max-width: 500px;
    grid-template-columns: repeat(auto-fill, 250px);
  }

  @media all and (min-width: 768px) {
    max-width: 800px;
  }

  @media all and (min-width: 1200px) {
    max-width: 1200px;
  }

  &__item {
    align-self: center;
    justify-self: center;
  }
}