@import "../core/variables.scss";

.card{
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: $color-dark;
  color: $color-light;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 0px $color-dark;
  transition: all 0.3s ease;

  &:hover {
    background-color: $color-terciary;
  }

  &__image{
    height: auto;
    width: 100%;
    margin-bottom: 0.75rem;
    border-radius: 50%;
  }

  &__name{
    margin-bottom: 0.375rem;
    font-size: $font-title;
    text-align: center;
  }

  &__species{
    font-family: $font-secondary;
    font-size: $font-body-small;
  }
}