@import "../core/variables.scss";

.card{
  height: 210px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding: 8px 10px;
  background-color: $color-dark;
  color: white;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 0px $color-dark;
  transition: all 0.3s ease;

  @media all and (min-width: 500px) {
    height: 272px;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 18px 10px;
  }

  &:hover {
    background-color: $color-terciary;
  }

  &__image{
    height: auto;
    width: 100px;
    margin-bottom: 10px;
    border-radius: 50%;

    @media all and (min-width: 500px) {
      height: auto;
      width: 180px;
    }
  }

  &__name{
    max-width: 150px;
    margin-bottom: 5px;
    font-size: 18px;
    text-align: center;
  }

  &__species{
    font-size: 14px;
  }
}