@import "../core/variables.scss";

// Form section styles

.form-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  

  &__container {
    width: 100%;
    border: none;
    margin-bottom: 10px;
    
    @media all and (min-width: 1200px) {
      padding-bottom: 10px;
    }

    @media all and (min-width: 1200px) {
      width: 250px;
      display: inline-block;
      max-width: 1200px;
    }
  }

  &__label {
    display: inline-block;
    color: $color-font-main;
    margin-bottom: 5px;
    font-size: 1rem;
  }

  &__input {
    display: block;
    width: 320px;
    height: 35px;
    background-color: transparent;
    // background-color: $color-light;
    // border: none;
    border: 2px solid $color-dark;
    border-radius: 3px;
    // border-bottom: 2px solid $color-main;
    font-size: 1rem;
    padding: 0 10px;
    color: $color-font-main;
    margin-bottom: 8px;

    @media all and (min-width: 768px) {
      width: 450px;
    }

    @media all and (min-width: 1200px) {
      width: 250px;
      display: inline-block;
      margin-right: 15px;
    }

    &:focus {
      outline: 2px solid $color-font-main;
    }

    &::placeholder {
      color: $color-font-terciary;
    }
  }

  &__select {
    width: 320px;
    display: block;
    height: 35px;
    margin-bottom: 8px;
    font-size: 1rem;
    background-color: transparent;
    color: $color-font-main;
    border: 2px solid $color-dark;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;

    @media all and (min-width: 768px) {
      width: 450px;
    }

    @media all and (min-width: 1200px) {
      width: 250px;
      display: inline-block;
      margin-right: 15px;
    }

    &:focus {
      border: 2px solid white;
    }

    // &::after {
      // content: "";
      // width: 0.8rem;
      // height: 0.5rem;
      // background-color: $color-secondary;
      // clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    // }
  }

  &__option {
    background-color: $color-light;
    color: $color-font-secondary;
    font-size: 1rem;

    &:checked {
      background-color: $color-main;
      color: $color-font-main;
    }
  }

  &__checkbox {
    margin-right: 10px;
    height: 16px;
    width: 16px;
    position: relative;
    top: 2px;
    // display: inline-block;

    // &--customized {
    //   cursor: pointer;
    //   display: inline-block;
    //   height: 16px;
    //   width: 16px;
    //   border: 2px solid $color-font-secondary;
    //   border-radius: 3px;
    //   margin-right: 10px;

    //   &--customized-checked {
    //     background-color: $color-main;
    //   }
    // }
  }
}
