// Header component styles

// Animation
@keyframes neon {
  from {
    opacity: 1;
  }
   50% {
     opacity: 0.85;
   }
  to {
    opacity: 1;
  }
}

.main-header{
  text-align: center;

  &__image {
    height: 120px;
    width: auto;
    animation-name: neon;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

    @media all and (min-width: 768px) {
      height: 180px;
    }
  }
}