// Header component styles

.main-header{
  // height: 150px;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 30px;

  &__container {
    // height: 100%;
  }

  &__image {
    height: auto;
    width: 300px;
  }
}