@import "core/normalize";
@import "core/reset";
@import "core/mixins.scss";
@import "core/variables";

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 100vh;
  background-image: url('../images/background.png');
  background-position: 4.5% bottom;
  background-repeat: no-repeat;
  background-size: cover;

  @include tablet {
    height: 100vh;
  }

  @include desktop {
    background-position: center bottom;
  }
}
