@import "core/normalize";
@import "core/reset";
@import "core/mixins";
@import "core/typography";
@import "core/variables";

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  min-height: 100vh;
  padding: 1rem 8vw;
  background: linear-gradient(
    0deg,
    hsl(0deg 0% 0%) 0%,
    hsl(245deg 100% 9%) 12%,
    hsl(243deg 86% 11%) 51%,
    hsl(279deg 79% 10%) 81%,
    hsl(328deg 86% 12%) 93%,
    hsl(0deg 56% 16%) 100%
);

  @include tablet {
    padding: 1.5rem;
  }

  @include desktop {
    padding: 2.5rem;
    background-position: center bottom;
  }
}
