// Core
@import "core/variables";
@import "core/reset";

// Background image container styles

.App{
  background-color: lightcyan;
  padding: 15px;
  height: 100vh;
  background-image: url(../images/background.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}