@import "./core/mixins.scss";
@import "./core/variables.scss";

body {
  font-family: $font-main;
  font-size: $font-body;
}

.main{
  flex-grow: 1;
  width: 100%;
  
  @include tablet {
    max-width: 70vw;
  }

  @include desktop {
    max-width: 1200px;
  }
}