// General reset styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// List reset styles
ul {
  list-style-type: none;
}

// Link reset styles

a {
  text-decoration: none;
  color: inherit;
}