// General reset styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// List reset styles
ul {
  list-style-type: none;
}

// Link reset styles

a {
  text-decoration: none;
  color: inherit;
}

// Form reset styles

select {
  // appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

select::-ms-expand {
  display: none;
}

// input[type="checkbox"] {
//   opacity: 0;
//   // display: none;
//   width: 1em;
//   height: 1em;
// }
