// Fonts
$font-main: 'Roboto', sans-serif;

// Colors
$color-main: rgb(238, 81, 171);
$color-secondary: rgb(22, 30, 210);
$color-terciary: rgb(249, 3, 95);
$color-bg: rgb(253, 223, 228);

$color-font-main: black;
$color-font-secondary: blue;
$color-font-terciary: white;
