/**
 * Variables
 * =================================
 * - Typography
 * - Colors
 *    - Brand
 *    - Neutral
 *    - Fonts
 */

 // Typography
$font-main: 'Roboto', sans-serif;
$font-secondary: 'Roboto Mono', monospace;
$font-body: 1rem;
$font-body-small: 0.875rem;
$font-title-big: 1.5rem;
$font-title: 1.125rem;

// Colors - Brand
$color-main: rgb(238, 81, 171);
$color-secondary: rgb(249, 3, 95);
$color-terciary: rgb(226, 25, 102);
// Colors - Neutral
$color-dark: rgb(15, 15, 15);
$color-light: rgb(240, 240, 240);
$color-grey: rgb(202, 201, 201);


