// Fonts
$font-main: 'Roboto', sans-serif;

// Colors
$color-main: rgb(238, 81, 171);
$color-secondary: rgb(249, 3, 95);
$color-terciary: rgb(226, 25, 102);
$color-dark: rgb(15, 15, 15);
$color-light: rgb(240, 240, 240);
// Font colors
$color-font-main: rgb(240, 240, 240);
$color-font-secondary: rgb(15, 15, 15);
$color-font-terciary: rgb(202, 201, 201);


